.hedmid {
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
}
/* makes button text white  */
.btn {
    color: white;
}
/* makes start button's text white */
#startButton {
    color: white;
}

.ftmid {
    text-align: center;
}